<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <% if (locals.blog){ %>
    <h1><%= blog.title %></h1>
    <p><%= blog.comment %></p>
    <% } %>

    <a href="/">Back to Homepage</a>

    <%- include('partials/footer.ejs') %>
</body>
</html>